{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Home {% endblock %}

{% block body %}
    {% for d in data %}
        {% if loop.index0 == 0 %}
            <p style="text-align:center;font-size:30px;background-color:fuchsia">{{ d.name }} {{ d.action }}</p>
        {% else %}
            <p style="text-align:center;font-size:30px">{{ d.name }} {{ d.action }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
